<html>
    <body>
        <div class="content-block">
            <img class="image" [src]="imageSrc" alt="imageAlt">
        </div>
        <div class="headline-wrapper">
            <h1 class="text-center">
                Permission denied !!!
            </h1>
            <p class="text-center  detail-msg">
                This is error 401 which means 
                you don't have access this particular resource. please authenticate yourself & Try Again.
            </p>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-primary"
                routerLink="/">Back</button>
            </div>
            
        </div>
    </body>
</html>

