<html>
    <body>
        <div class="content-block">
            <img [src]="imageSrc" alt="imageAlt">
        </div>
        <div class="headline-wrapper">
            <h1 class="text-center">
                Error 404
            </h1>
            <p class="text-center  detail-msg">
                Somethinng's wrong here. This is error 404 which means 
                you have clicked on bad link or entered invalid URL.
            </p>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-primary"
                routerLink="/">Back</button>
            </div>
            
        </div>
    </body>
</html>
